openapi: 3.2.0
info:
  title: Stability AI Stable Image Upscale Fast Upscale API
  description: The Stability AI Stable Image Upscale API enables developers to increase the resolution of images using AI-powered upscaling models. The API offers conservative upscaling, which preserves the original image closely while increasing resolution, creative upscaling, which enhances and adds detail to images during the upscaling process, and fast upscaling for quick resolution increases. These endpoints are useful for improving image quality for print, display, or further processing workflows.
  version: v2beta
  contact:
    name: Stability AI Support
    url: https://platform.stability.ai
  termsOfService: https://stability.ai/terms-of-service
servers:
- url: https://api.stability.ai
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Fast Upscale
  description: Quickly increase image resolution with minimal processing time while maintaining image quality.
paths:
  /v2beta/stable-image/upscale/fast:
    post:
      operationId: upscaleImageFast
      summary: Fast upscale an image
      description: Quickly increases the resolution of an image with minimal processing time. This endpoint provides a good balance between speed and quality for bulk upscaling workflows.
      tags:
      - Fast Upscale
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FastUpscaleRequest'
      responses:
        '200':
          description: Successfully upscaled image
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/UpscaleImageResponse'
        '400':
          description: Bad request due to invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized due to missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for the error instance.
        name:
          type: string
          description: The error type name.
        message:
          type: string
          description: A human-readable description of the error.
    FastUpscaleRequest:
      type: object
      required:
      - image
      properties:
        image:
          type: string
          format: binary
          description: The image to upscale. Must be a valid image file.
        output_format:
          type: string
          enum:
          - jpeg
          - png
          - webp
          default: png
          description: The output format of the upscaled image.
    UpscaleImageResponse:
      type: object
      properties:
        image:
          type: string
          description: Base64-encoded image data when Accept header is set to application/json.
        finish_reason:
          type: string
          enum:
          - SUCCESS
          - CONTENT_FILTERED
          description: The reason the upscale finished.
        seed:
          type: integer
          description: The seed used for generation.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key authentication. Pass your Stability AI API key as a Bearer token in the Authorization header.
externalDocs:
  description: Stability AI API Documentation
  url: https://platform.stability.ai/docs/api-reference
