openapi: 3.1.0
info:
  title: Stability AI Stable Fast 3D 3D Generation Sketch API
  description: The Stability AI Stable Fast 3D API generates textured 3D mesh assets from single input images. The API rapidly produces 3D models suitable for use in games, augmented reality, virtual reality, and product visualization workflows. Developers can convert 2D images into fully textured 3D objects with UV-unwrapped meshes, enabling rapid prototyping and asset creation without manual 3D modeling.
  version: v2beta
  contact:
    name: Stability AI Support
    url: https://platform.stability.ai
  termsOfService: https://stability.ai/terms-of-service
servers:
- url: https://api.stability.ai
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Sketch
  description: Generate images from hand-drawn sketches or line drawings, guided by a text prompt to fill in details, colors, and textures.
paths:
  /v2beta/stable-image/control/sketch:
    post:
      operationId: controlImageSketch
      summary: Generate an image from a sketch
      description: Generates a detailed image from a hand-drawn sketch or line drawing. The sketch provides the structural composition while the text prompt guides the content, colors, textures, and style of the output image.
      tags:
      - Sketch
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SketchControlRequest'
      responses:
        '200':
          description: Successfully generated image from sketch
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/ControlImageResponse'
        '400':
          description: Bad request due to invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized due to missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden due to content moderation or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    SketchControlRequest:
      type: object
      required:
      - image
      - prompt
      properties:
        image:
          type: string
          format: binary
          description: The sketch or line drawing image to use as structural guidance.
        prompt:
          type: string
          maxLength: 10000
          description: Text describing the desired output image including content, colors, textures, and style.
        negative_prompt:
          type: string
          maxLength: 10000
          description: Text describing elements to exclude from the output image.
        control_strength:
          type: number
          minimum: 0
          maximum: 1
          default: 0.7
          description: Controls how closely the output follows the input sketch. Higher values produce outputs more faithful to the sketch structure.
        seed:
          type: integer
          minimum: 0
          maximum: 4294967294
          default: 0
          description: A value to control randomness in generation.
        output_format:
          type: string
          enum:
          - jpeg
          - png
          - webp
          default: png
          description: The output format of the generated image.
    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for the error instance.
        name:
          type: string
          description: The error type name.
        message:
          type: string
          description: A human-readable description of the error.
    ControlImageResponse:
      type: object
      properties:
        image:
          type: string
          description: Base64-encoded image data when Accept header is set to application/json.
        finish_reason:
          type: string
          enum:
          - SUCCESS
          - CONTENT_FILTERED
          description: The reason the generation finished.
        seed:
          type: integer
          description: The seed used for generation.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key authentication. Pass your Stability AI API key as a Bearer token in the Authorization header.
externalDocs:
  description: Stability AI API Documentation
  url: https://platform.stability.ai/docs/api-reference
